---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';
import BikeTrips from '@components/BikeTrips.astro';

const pageTitle = 'Kerékpártúrák a Bükkben';
const heading = pageTitle;
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={heading}>
      <p slot="header-content-subtitle">
        Kis-Galya KSE által szervezett túrák Bükkszentkereszti indulással
      </p>
    </HeaderContent>
  </Header>

  <MainContent>
    <div class="lg:flex lg:gap-12">
      <div class="prose-default !max-w-none">
        <h3>
          A Kis-Galya KSE által szervezett túrák kínálatából, Bükkszentkereszti
          indulással:
        </h3>

        <ul>
          <li>Hór völgy-Cserépfalu-Bogács (termálfürdő látogatással)</li>
          <li>Bánya-hegy-Nagymező-Szilvásvárad (pisztráng ételek)</li>
          <li>Hór völgy -Cserépfalu (Suba lyuk barlang)</li>
          <li>Hór völgy-Répáshuta (Vadász étterem)</li>
          <li>Felsőtárkány-Eger (városnézés)</li>
          <li>Ilona ház-Dámvadkert látogatás-Bekénypuszta (szalonnasütés)</li>
          <li>
            Ilona ház-Tebe puszta-Hór völgy (Bükki üveghuták megtekintése)
          </li>
          <li>Lillafüred (vízesés, függőkert)-Diósgyőri vár látogatás</li>
          <li>Nagymező-Jávorkút-Garadna (pisztráng ételek)</li>
        </ul>
        <p>Részletes túraleírásokat alul találsz.</p>
        <p>
          Túráink igény szerint változhatnak, kerékpárokat és a célállomástól
          hazaszállítást biztosítunk maximum 8 fő részére.
        </p>

        <h3>Egyéb:</h3>

        <ul>
          <li>Kerékpáros szaktanácsadás, szerviz.</li>
          <li>
            Bükkszentkereszten megszálló vendégeknek kerékpár kölcsönzési
            lehetőség.
          </li>
        </ul>
        <p>
          A túráinkon mindenki saját felelősségére vesz részt, alapvető feltétel
          a a biztonságos kerékpárkezelés (a fék és váltórendszer magabiztos
          használata).
        </p>
        <p>
          Részletes tájékoztatás túrák egyeztetése: 30/ 206-3602 telefonszámon
          kérhető.
        </p>
      </div>

      <BikeTrips />
    </div>
  </MainContent>
</BaseLayout>
