@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --font-*: initial;
  --font-display: 'Sriracha', 'cursive';
  --default-font-family: 'Onest', 'sans-serif';

  --color-default: #2d2d2d;

  --color-primary-50: #f7fce9;
  --color-primary-100: #ecf7d0;
  --color-primary-200: #daefa7;
  --color-primary-300: #b5de5c;
  --color-primary-400: #a5d348;
  --color-primary-500: #87b82a;
  --color-primary-600: #68931d;
  --color-primary-700: #4f701b;
  --color-primary-800: #41591b;
  --color-primary-900: #374c1b;
  --color-primary-950: #1c2a09;

  --color-secondary-50: #f3faf8;
  --color-secondary-100: #d6f1e8;
  --color-secondary-200: #ade2d3;
  --color-secondary-300: #7cccb8;
  --color-secondary-400: #51b09b;
  --color-secondary-500: #379582;
  --color-secondary-600: #297567;
  --color-secondary-700: #256055;
  --color-secondary-800: #214e47;
  --color-secondary-900: #20413c;
  --color-secondary-950: #0d2623;

  --spacing-1px: 1px;
  --spacing-2px: 2px;
  --spacing-3px: 3px;
  --spacing-4px: 4px;
  --spacing-5px: 5px;
  --spacing-6px: 6px;
  --spacing-7px: 7px;
  --spacing-8px: 8px;
  --spacing-9px: 9px;
  --spacing-10px: 10px;
  --spacing-11px: 11px;
  --spacing-12px: 12px;
}

@layer utilities {
  .container {
    max-width: 84rem;
    padding-inline: 1.5rem;

    @media (width >= theme(--breakpoint-md)) {
      padding-inline: calc(var(--spacing) * 16);
    }
  }
}

:root {
  overflow-y: scroll;
  scrollbar-width: thin;
}

.button {
  @apply !no-underline items-center px-4 py-1 bg-primary-300 rounded-sm inline-flex gap-2 lg:hover:border-primary-600 lg:hover:text-default transition-colors justify-center border-2 border-primary-700 !text-secondary-950;
}

.prose-default {
  @apply prose prose-headings:text-secondary-700 prose-headings:font-display prose-headings:font-normal !max-w-none prose-img:rounded-sm prose-img:my-5;

  > :first-child {
    @apply mt-0;
  }
}

a {
  &:hover {
    @apply text-primary-500;
  }

  &:not([href]) {
    @apply pointer-events-none;
  }
}

.fullview-toggle-wrapper {
  @apply relative w-full h-64 lg:h-84 border-6 border-secondary-700 rounded-md;

  &::after {
    @apply content-[''] absolute inset-0 bg-white/30 flex items-center justify-center transition-colors;
  }

  &:hover {
    &::after {
      @apply bg-secondary-600/10;
    }
  }

  iframe {
    @apply bg-white w-full h-full;
  }

  .fullview-toggle {
    + .fullview-toggle-label {
      @apply cursor-pointer absolute inset-0 z-10 flex items-center justify-center transition-transform;

      &:hover {
        @apply lg:scale-110;
      }

      span {
        @apply hidden p-4 rounded-full;

        svg {
          @apply size-6 lg:size-9;
        }
      }

      span:nth-child(1) {
        @apply block bg-primary-300;

        svg {
          @apply text-primary-900;
        }
      }
    }

    &:checked {
      ~ iframe {
        @apply fixed top-0 left-0 w-screen h-screen z-[200] m-0 border-[3rem] lg:border-[5rem] border-secondary-950/80 bg-clip-content rounded-none;
      }

      + .fullview-toggle-label {
        @apply fixed inset-auto translate-none top-2 right-4 z-[220] text-white;

        span {
          @apply hidden;
        }

        span:nth-child(2) {
          @apply block;
        }
      }
    }
  }
}
