@import 'tailwindcss';

@theme {
  --font-display: 'Satoshi', 'sans-serif';

  --color-primary: #297567;
  --color-default: #2d2d2d;

  --spacing-1px: 1px;
}

@layer utilities {
  .container {
    max-width: 84rem;
    padding-inline: 1.5rem;

    @media (width >= theme(--breakpoint-md)) {
      padding-inline: calc(var(--spacing) * 16);
    }
  }
}
