---
import BaseLayout from '@layouts/BaseLayout.astro';
import Masthead from '@components/Masthead.astro';

const pageTitle = '404';
---

<BaseLayout pageTitle={pageTitle}>
    <Masthead pageTitle={pageTitle}>
        <div slot="header-content">
            <p>Az oldal nem található.</p>
        </div>
    </Masthead>
</BaseLayout>
