---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import MainContent from '@components/MainContent.astro';
import HeaderContent from '@components/HeaderContent.astro';

const pageTitle = '404';
const heading = 'Az oldal nem tal치lhat칩.';
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={heading} />
  </Header>
</BaseLayout>

<MainContent class="prose-default">
  <p>A keresett oldal nem tal치lhat칩.</p>
</MainContent>
