---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import MainContent from '@components/MainContent.astro';
import HeaderContent from '@components/HeaderContent.astro';

const pageTitle = '404';
const heading = pageTitle;
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={heading} />
  </Header>

  <MainContent class="prose-default text-center">
    <p>A keresett oldal nem található.</p>
  </MainContent>
</BaseLayout>
