---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { getCollection } from 'astro:content';

const pageTitle = '';

const news = await getCollection('news', ({ data }) => {
  return data.includeInNews;
});

const getUrl = (item: any) => {
  let segments = item.filePath
    .replace('src/data/', '')
    .replace('.md', '')
    .split('/');

  return [segments[0], segments[2]].join('/');
};
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <div slot="header-content" class="py-40 bg-secondary-800 text-white mb-8">
      <div class="container mx-auto">
        <h1 class="text-4xl py-4">Kis-Galya Árvíztűrő Tükörfúrógép</h1>
      </div>
    </div>
  </Header>

  <div class="container mx-auto">
    <ul>
      {
        news.map((item: any) => (
          <li>
            <a href={getUrl(item)} class="underline">
              {item.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
