---
import BaseLayout from '@layouts/BaseLayout.astro';
import Masthead from '@components/Masthead.astro';

const pageTitle = 'Kapcsolat';
---

<BaseLayout pageTitle={pageTitle}>
  <Masthead pageTitle={pageTitle}>
    <div slot="header-content">
      <p>Rendezvények goes here</p>
    </div>
  </Masthead>
</BaseLayout>
