---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';

const pageTitle = 'Kapcsolat';
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <div slot="header-content">
      <div class="container mx-auto">
        <h1 class="text-3xl font-bold py-4">Kapcsolat</h1>
      </div>
    </div>
  </Header>
</BaseLayout>
