---
import BaseLayout from '@layouts/BaseLayout.astro';
import Masthead from '@components/Masthead.astro';

const pageTitle = 'Rendezvények';

import { getCollection } from 'astro:content';
const events = await getCollection('events');
---

<BaseLayout pageTitle={pageTitle}>
  <Masthead pageTitle={pageTitle}>
    <div slot="header-content">
      <p>Rendezvények goes here</p>
    </div>
  </Masthead>

  <div class="container mx-auto">
    <ul>
      {
        events.map((event: any) => (
          <li>
            <a href={`/rendezvenyek/${event.data.slug}`} class="underline">
              {event.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
