---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { getCollection } from 'astro:content';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';
import ListItem from '@components/ListItem.astro';
import ContentLayout from '@components/ContentLayout.astro';
import Sponsors from '@components/Sponsors.astro';

const pageTitle = 'Rendezvények';
const events = await getCollection('events', ({ data }) => {
  return data.draft !== true;
});

events.sort((a, b) => (b.data.pubDate > a.data.pubDate ? 1 : -1));
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={pageTitle} />
  </Header>

  <MainContent>
    <ContentLayout>
      <div slot="main">
        {events.map((item) => <ListItem item={item} />)}
      </div>

      <div slot="sidebar">
        <Sponsors />
      </div>
    </ContentLayout>
  </MainContent>
</BaseLayout>
