---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import { getCollection } from 'astro:content';
import HeaderContent from '@components/HeaderContent.astro';
import MainContent from '@components/MainContent.astro';

const pageTitle = 'Rendezvények';
const events = await getCollection('events');
---

<BaseLayout pageTitle={pageTitle}>
  <Header>
    <HeaderContent slot="header-content" heading={pageTitle} />
  </Header>

  <MainContent>
    <ul>
      {
        events.map((event: any) => (
          <li>
            <a href={`/rendezvenyek/${event.id}`} class="underline">
              {event.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </MainContent>
</BaseLayout>
