---

---

<div class="lg:flex gap-8 lg:gap-12">
  <div class="grow">
    <slot name="main" />
  </div>
  <div class="lg:basis-1/4 shrink-0 lg:sticky lg:top-24">
    <slot name="sidebar" />
  </div>
</div>
