---
import { siteName } from 'src/constants';

const year = new Date().getFullYear();
---

<footer class="py-8 lg:pb-12 bg-gray-100 sticky bottom-0">
  <div class="container mx-auto text-sm">
    <p>&copy; {year} {siteName}</p>
  </div>
</footer>
