---
const { heading, breadcrumbs } = Astro.props;
---

<div class="py-12 lg:py-16 bg-secondary-800 text-white">
  <div class="container mx-auto flex flex-col gap-2">
    {
      breadcrumbs?.length > 0 && (
        <nav class="flex gap-2">
          {breadcrumbs.map(({ url, title }) => (
            <a href={url} class="text-white hover:text-primary-400">
              {title}
            </a>
          ))}
        </nav>
      )
    }
    <h1 class="text-2xl lg:text-4xl font-display">
      <Fragment set:html={heading} />
    </h1>
    <slot name="header-content-subtitle" />
  </div>
</div>
