---
const { tags } = Astro.props;
---

{
  tags?.length && (
    <div class="flex gap-2">
      {tags.map((tag: string) => (
        <span class="inline-block p-2 py-10px leading-1 text-xs font-bold text-secondary-900 bg-primary-300 rounded-xl uppercase rounded-tl-xs tracking-wider">
          {tag}
        </span>
      ))}
    </div>
  )
}
