---
import { ClientRouter } from 'astro:transitions';
import '@fontsource/sriracha';
import '@fontsource/onest/400.css';
import '@fontsource/onest/600.css';
import '@styles/tailwind.css';
import { siteName, siteNameFull } from 'src/constants';
import Footer from '@components/Footer.astro';

const { pageTitle } = Astro.props;

const title = pageTitle ? `${pageTitle} - ${siteName}` : siteNameFull;
---

<html lang="hu">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <ClientRouter />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="text-default flex flex-col min-h-screen">
    <main
      class="flex-grow relative bg-white z-1 pb-8 lg:pb-12 border-b border-b-gray-200"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
